n8n-invoice-automation.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Invoices",
        "range": "A:G"
      },
      "id": "google-sheets",
      "name": "Google Sheets - Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nconst overdueItems = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  if (row.Status === 'Unpaid' && row.DueDate) {\n    const dueDate = row.DueDate.split('T')[0];\n    \n    if (dueDate < today) {\n      row.daysOverdue = Math.floor(\n        (new Date(today) - new Date(dueDate)) / (1000 * 60 * 60 * 24)\n      );\n      \n      // Don't send reminders on weekends\n      const dayOfWeek = new Date().getDay();\n      if (dayOfWeek >= 1 && dayOfWeek <= 5) {\n        overdueItems.push(item);\n      }\n    }\n  }\n}\n\nreturn overdueItems;"
      },
      "id": "function-filter",
      "name": "Filter Overdue Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.length > 0 }}"
            }
          ]
        }
      },
      "id": "if-check",
      "name": "Any Overdue Invoices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.INVOICE_FROM_EMAIL }}",
        "toEmail": "={{ $json.ClientEmail }}",
        "subject": "Reminder: Invoice #{{ $json.InvoiceNumber }} is Overdue",
        "text": "Dear {{ $json.ClientName }},\n\nThis is a friendly reminder that invoice #{{ $json.InvoiceNumber }} for ${{ $json.Amount }} was due on {{ $json.DueDate }} and is now {{ $json.daysOverdue }} days overdue.\n\nYou can view and pay the invoice here: {{ $json.PaymentLink }}\n\nPlease let us know if you have any questions.\n\nBest regards,\nYour Billing Team",
        "additionalFields": {}
      },
      "id": "gmail-node",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Logs",
        "range": "A:A",
        "values": "=[\n  [\n    new Date().toISOString(),\n    \"Email sent\",\n    $node[\"Filter Overdue Invoices\"].json.InvoiceNumber,\n    $node[\"Filter Overdue Invoices\"].json.ClientEmail\n  ]\n]"
      },
      "id": "google-sheets-log",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {},
      "id": "no-email",
      "name": "No emails needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Google Sheets - Read", "type": "main", "index": 0 }]]
    },
    "Google Sheets - Read": {
      "main": [[{ "node": "Filter Overdue Invoices", "type": "main", "index": 0 }]]
    },
    "Filter Overdue Invoices": {
      "main": [[{ "node": "Any Overdue Invoices?", "type": "main", "index": 0 }]]
    },
    "Any Overdue Invoices?": {
      "main": [
        [{ "node": "Send Reminder Email", "type": "main", "index": 0 }],
        [{ "node": "No emails needed", "type": "main", "index": 0 }]
      ]
    },
    "Send Reminder Email": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }]]
    }
  }
}
